<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login, app{{ number }}</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>
    <!--<script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>-->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>

<div class="content">
    <h1 id="ip">{{ ip }}</h1>

    <h2 id="name" {% if not name %}style="display: none;" {% end %}>Hello, {{ name }}!</h2>
    {% if name %}<a href="#" id="logout-link">Log out</a>{% end %}

    <h5 id="error"></h5>

    {% if not name %}
    <form action="/signin" method="post" id="signin-form">
        <h6>Sign in</h6>
        Name: <input type="text" name="name"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Sign in" id="signin">
        <a href="#" id="signup-link">sign up</a>
    </form>

    <form action="/signup" method="post" id="signup-form" style="display: none;">
        <h6>Sign up</h6>
        Name: <input type="text" name="name"><br>
        Password: <input type="text" name="password"><br>
        <input type="submit" value="Sign up" id="signup">
        <a href="#" id="signin-link">sign in</a>
    </form>
    {% end %}
</div>
<div class="disconnected" style="display: none;">
    Disconnected from server!
</div>

<script type="text/javascript">
    $.cookie.raw = true;

    $(function () {

        var endpoint = '{{ endpoint_address }}';
        var conn = connect(endpoint);

        $('#signin').on('click', function () {
            if (!conn || !conn.readyState) {
                return false;
            }

            var name = $('#signin-form input[name=name]').val();
            var password = $('#signin-form input[name=password]').val();

            conn.send(JSON.stringify({type: 'signin', name: name, password: password}));
//            $.post('/signin', {name: name, password: password}, function () {
//                $('#signin-form').hide();
//                $('#name').text('Hello, ' + name + '!').show()
//                $('#logout-link').show();
//            });
            return false;
        });

        $('#signup').on('click', function () {
            if (!conn || !conn.readyState) {
                return false;
            }

            var name = $('#signup-form input[name=name]').val();
            var password = $('#signup-form input[name=password]').val();

            conn.send(JSON.stringify({type: 'signup', name: name, password: password}));

//            $.post('/signup', {name: name, password: password}, function () {
//                $('#signup-form').hide();
//                $('#signin-form').show();
//            });
            return false;
        });

        $('#signup-link').on('click', function () {
            $('#signin-form').hide();
            $('#signup-form').show();
            return false;
        });

        $('#signin-link').on('click', function () {
            $('#signin-form').show();
            $('#signup-form').hide();
            return false;
        });

        $('#logout-link').on('click', function () {
            $.post('/logout', {}, function () {
                window.location = '/';
            });
            return false;
        });

        function connect(endpoint) {
            var ws = new SockJS(endpoint);
            ws.timer = {ip: null};

            console.debug('Opening ' + endpoint + '...');

            ws.onopen = function () {
                console.info('Connected!');

                ws.timer.ip = setInterval(function () {
                    ws.send(JSON.stringify({type: 'ip'}));
                }, 1000);
            };

            ws.onmessage = function (e) {
                var data = JSON.parse(e.data);
                var payload = JSON.parse(data.payload);

                if (data.type == 'ip') {
                    $('#ip').css({opacity: 1}).text(payload.message).animate({opacity: 0.5}, 500);
                } else if (data.type == 'signin') {
                    if (payload.error) {
                        return $('#error').text(payload.error);
                    }

                    $('#signin-form').hide();
                    $('#name').text('Hello, ' + payload.name + '!').show()
                    $('#logout-link').show();

                    $.cookie("user", payload.cookie);

                } else if (data.type == 'signup') {
                    if (payload.error) {
                        return $('#error').text(payload.error);
                    }

                    $('#signup-form').hide();
                    $('#signin-form').show();
                }
            };

            ws.onclose = function () {
                console.warn('Disconnected!');
                console.log('IP timer: ' + ws.timer.ip);

                if (ws.timer.ip) {
                    clearInterval(ws.timer.ip);
                    ws.timer.ip = null;
                }

                ws = null;

                $.removeCookie('SERVER_WEB_ID');
                $.removeCookie('SERVER_WS_ID');

                reconnect(60000);
            };

            return ws;
        }

        setInterval(function () {
            $('#error').text('')
        }, 10000);

//        https://github.com/knowitnothing/sockjs_reconnect

        function reconnect(timeout) {
            var reconnection = setTimeout(function () {
                console.info('Start reconnection!');
                conn = connect(endpoint);
            }, 1000);

            setTimeout(function () {
//                clearTimeout(reconnection);
//                reconnection = null;

                if (!conn || !conn.readyState) {
                    $('.content').hide();
                    $('.disconnected').show();
                }
            }, timeout);
        }
    });
</script>
</body>
</html>