<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login, app{{ number }}</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>
</head>
<body>

<script type="text/javascript">
    $(function () {
        var conn = new SockJS('{{ endpoint_address }}');

        conn.onopen = function () {
            conn.send(JSON.stringify({type: 'logout'}));
            window.location = '/';
        };
    });
</script>
</body>
</html>