<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login, app{{ number }}</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>
    <!--<script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>

<h1 id="ip"></h1>
<h2>This is private area!</h2>
<h3>{% if current_user %}Hello, {{ current_user }}!{% end %}</h3>

<script type="text/javascript">
    $(function () {
        var conn = new SockJS('{{ endpoint_address }}');

        conn.onopen = function () {
            timer = setInterval(function () {
                conn.send('ip');
            }, 2000);
        };

        conn.onmessage = function (e) {
            var data = JSON.parse(e.data);
            if (data.type == 'ip') {
                $('#ip').text(data.payload);
            }
        };

        conn.onclose = function () {
            if (timer) {
                clearInterval(timer)
            }
        };
    });
</script>
</body>
</html>