<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login, app{{ number }}</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>
    <!--<script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>-->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>

<div class="content">
    <h1 id="ip">{{ ip }}</h1>

    <h2 id="name" {% if not name %}style="display: none;" {% end %}>Hello, {{ name }}!</h2>
    {% if name %}<a href="#" id="logout-link">Log out</a>{% end %}

    <h5 id="error"></h5>

    {% if not name %}
    <form action="/signin" method="post" id="signin-form">
        <h6>Sign in</h6>
        Name: <input type="text" name="name"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Sign in" id="signin">
        <a href="#" id="signup-link">sign up</a>
    </form>

    <form action="/signup" method="post" id="signup-form" style="display: none;">
        <h6>Sign up</h6>
        Name: <input type="text" name="name"><br>
        Password: <input type="text" name="password"><br>
        <input type="submit" value="Sign up" id="signup">
        <a href="#" id="signin-link">sign in</a>
    </form>
    {% end %}
</div>
<div class="disconnected" style="display: none;">
    Disconnected from server!
</div>

<script type="text/javascript">
    var Base64 = {
        _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) {
            var t = "";
            var n, r, i, s, o, u, a;
            var f = 0;
            e = Base64._utf8_encode(e);
            while (f < e.length) {
                n = e.charCodeAt(f++);
                r = e.charCodeAt(f++);
                i = e.charCodeAt(f++);
                s = n >> 2;
                o = (n & 3) << 4 | r >> 4;
                u = (r & 15) << 2 | i >> 6;
                a = i & 63;
                if (isNaN(r)) {
                    u = a = 64
                } else if (isNaN(i)) {
                    a = 64
                }
                t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a)
            }
            return t
        }, decode: function (e) {
            var t = "";
            var n, r, i;
            var s, o, u, a;
            var f = 0;
            e = e.replace(/[^A-Za-z0-9+/=]/g, "");
            while (f < e.length) {
                s = this._keyStr.indexOf(e.charAt(f++));
                o = this._keyStr.indexOf(e.charAt(f++));
                u = this._keyStr.indexOf(e.charAt(f++));
                a = this._keyStr.indexOf(e.charAt(f++));
                n = s << 2 | o >> 4;
                r = (o & 15) << 4 | u >> 2;
                i = (u & 3) << 6 | a;
                t = t + String.fromCharCode(n);
                if (u != 64) {
                    t = t + String.fromCharCode(r)
                }
                if (a != 64) {
                    t = t + String.fromCharCode(i)
                }
            }
            t = Base64._utf8_decode(t);
            return t
        }, _utf8_encode: function (e) {
            e = e.replace(/rn/g, "n");
            var t = "";
            for (var n = 0; n < e.length; n++) {
                var r = e.charCodeAt(n);
                if (r < 128) {
                    t += String.fromCharCode(r)
                } else if (r > 127 && r < 2048) {
                    t += String.fromCharCode(r >> 6 | 192);
                    t += String.fromCharCode(r & 63 | 128)
                } else {
                    t += String.fromCharCode(r >> 12 | 224);
                    t += String.fromCharCode(r >> 6 & 63 | 128);
                    t += String.fromCharCode(r & 63 | 128)
                }
            }
            return t
        }, _utf8_decode: function (e) {
            var t = "";
            var n = 0;
            var r = c1 = c2 = 0;
            while (n < e.length) {
                r = e.charCodeAt(n);
                if (r < 128) {
                    t += String.fromCharCode(r);
                    n++
                } else if (r > 191 && r < 224) {
                    c2 = e.charCodeAt(n + 1);
                    t += String.fromCharCode((r & 31) << 6 | c2 & 63);
                    n += 2
                } else {
                    c2 = e.charCodeAt(n + 1);
                    c3 = e.charCodeAt(n + 2);
                    t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);
                    n += 3
                }
            }
            return t
        }
    };
    $.cookie.raw = true;

    $(function () {
        var timer;
        var reconnection;

        var endpoint = '{{ endpoint_address }}';
        var conn = connect(endpoint);

        $('#signin').on('click', function () {
            if (!conn || !conn.readyState) {
                return false;
            }

            var name = $('#signin-form input[name=name]').val();
            var password = $('#signin-form input[name=password]').val();

            conn.send(JSON.stringify({type: 'signin', name: name, password: password}));
//            $.post('/signin', {name: name, password: password}, function () {
//                $('#signin-form').hide();
//                $('#name').text('Hello, ' + name + '!').show()
//                $('#logout-link').show();
//            });
            return false;
        });

        $('#signup').on('click', function () {
            if (!conn || !conn.readyState) {
                return false;
            }

            var name = $('#signup-form input[name=name]').val();
            var password = $('#signup-form input[name=password]').val();

            conn.send(JSON.stringify({type: 'signup', name: name, password: password}));

//            $.post('/signup', {name: name, password: password}, function () {
//                $('#signup-form').hide();
//                $('#signin-form').show();
//            });
            return false;
        });

        $('#signup-link').on('click', function () {
            $('#signin-form').hide();
            $('#signup-form').show();
            return false;
        });

        $('#signin-link').on('click', function () {
            $('#signin-form').show();
            $('#signup-form').hide();
            return false;
        });

        $('#logout-link').on('click', function () {
            $.post('/logout', {}, function () {
                window.location = '/';
            });
            return false;
        });

        function connect(endpoint) {
            conn = new SockJS(endpoint);

            conn.onopen = function () {
                console.warn('Connected!');
                clearInterval(reconnection);
                timer = setInterval(function () {
                    conn.send(JSON.stringify({type: 'ip'}));
                }, 1000);
            };

            conn.onmessage = function (e) {
                var data = JSON.parse(e.data);
                var payload = JSON.parse(data.payload);

                if (data.type == 'ip') {
                    $('#ip').css({opacity: 1}).text(payload.message).animate({opacity: 0.5}, 500);
                } else if (data.type == 'signin') {
                    if (payload.error) {
                        return $('#error').text(payload.error);
                    }

                    $('#signin-form').hide();
                    $('#name').text('Hello, ' + payload.name + '!').show()
                    $('#logout-link').show();

                    $.cookie("user", payload.cookie);

                } else if (data.type == 'signup') {
                    if (payload.error) {
                        return $('#error').text(payload.error);
                    }

                    $('#signup-form').hide();
                    $('#signin-form').show();
                }
            };

            conn.onclose = function () {
                if (timer) {
                    clearInterval(timer);
                }

                console.warn('Disconnected!');
                conn = null;

                if (!reconnection) {
                    reconnect(10000);
                }
            };

            return conn;
        }

        timer = setInterval(function () {
            $('#error').text('')
        }, 10000);

//        https://github.com/knowitnothing/sockjs_reconnect

        function reconnect(timeout) {
            reconnection = setInterval(function () {
                conn = connect(endpoint);
            }, 1000);

            setTimeout(function () {
                clearInterval(reconnection);

                if (!conn || !conn.readyState) {
                    $('.content').hide();
                    $('.disconnected').show();
                }
            }, timeout);
        }
    });
</script>
</body>
</html>